@import url(reset.css);
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap'); */

:root {
    --turquoise-color: #008080;
    /* #009999; */
}

p,h2,h3,h4,h5,h6,th,td,li {
    cursor: default;
}
a {
    text-decoration: none;
    color:#000;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
button,
select,
label,
input[type="checkbox"] {
    cursor: pointer; 
}
input:not([type="checkbox"]) {
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 1px;
}
button,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    color: #000;
}
select {
    background-color: #fff;
    color: #666;
    box-sizing: border-box;
    border-radius: 1px;
}
form input:focus,
form select:focus {
    /* outline: none; */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.hidden {
    /* display: none; */
    visibility: hidden;
    height: 0;
    text-indent: -9999999em;
}
body.overflow,
body.open_search {
    overflow: hidden;
}
/* -----------------TYPOGRAPHY----------------- */
/* 
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
*/
@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/NotoSansKR-Bold.woff2') format('woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/NotoSansKR-Regular.woff2') format('woff2'),
        url('../font/NotoSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../font/NotoSansKR-Light.woff2') format('woff2'),
        url('../font/NotoSansKR-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare'; 
    src: url('../font/NanumSquareR.woff2') format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare'; 
    src: url('../font/NanumSquareB.woff2') format("woff2");
    font-display: swap;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.font_nanum {
    font-family: 'NanumSquare', sans-serif; 
    transform: skew(-0.03deg);
}
.turquoise {
    color: var(--turquoise-color);
}
.bg_tt {
    color: #fff;
    font-size: 42px;
    line-height: 42px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.table_title {
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    padding: 10px 0;
}
.table_desc {
    background: #f7f7f7;
    text-align: left;
    padding: 20px 25px;
    margin-top: 10px;
}
.sec_tt_area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    margin-bottom: 20px;
}
.sec_tt h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    text-transform: capitalize;
}
.sec_tt p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
}
.sec_tt_area a {
    height: 32px;
}
.sec_tt_area .material-icons {
    padding-left: 0;
    color: #666;
    font-size: 32px;
}
/* -----------------LAYOUT----------------- */
.innerpd {
    padding: 80px 0;
}
.innerpd_20 {
    padding: 20px 0;
}
.absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;   
}
.overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.2);
}
.top_bg_wrap {
    height: 380px;
    position: relative;
}
.login_bg_wrap {
    height: 350px;
    position: relative;
    background: url('../images/sign_top_bg.webp') no-repeat center center/cover;    
}
.bg_contents {
    height: 100%;
    padding: 111px 0 55px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    text-indent: -9999em;
    cursor: pointer;
}
.slick-arrow,
.main_slide_wrapper .controls a {
    width: 40px;
    height: 40px;
    z-index: 22;
    border: none;
    background: rgba(0,153,153,0.5);
    border-radius: 20px;
}
.slick-arrow:hover,
.main_slide_wrapper .controls a:hover {
    background: var(--turquoise-color);
}
.slick-arrow:before,
.main_slide_wrapper .controls a:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    border-width:2px;
    border-style: solid;
}
.slick-prev {
    left: 30px;
}
.slick-next {
    right: 30px;
} 
.slick-prev:before,
.main_slide_wrapper .prev:before {
    transform: translate(-3.5px,-50%) rotate(-45deg);
    border-color: #fff transparent transparent #fff;
}
.slick-next:before,
.main_slide_wrapper .next:before {
    transform: translate(-10.5px, -50%) rotate(-45deg);
    border-color: transparent #fff #fff transparent;
}
/* ----- MODAL ----- */
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 7778;
    display: none;
}
.modal .modal_contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 7779;
}
.modal .modal_contents div:first-child {
    background-color: var(--turquoise-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
}
.modal.active {
    display: block;
}
.close_btn {
    text-indent: -9999em;
    border: none;
    background-color: transparent;
    position: relative;
}
.close_btn:before,
.close_btn:after {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.close_btn:before {
    width: 2px;
    height: 22px;
}
.close_btn:after {
    width: 22px;
    height: 2px;
}
/* -----------------TABLE----------------- */
.t_wrap {
    overflow-x: auto;
}
figure figcaption {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
table:not(.full_width) {
    border: 1px solid #ddd;
    width: 100%;
    min-width: 800px;
}
.full_width {
    width: 100%;
}
thead {
    border: solid #666;
    border-width: 2px 0 0 0;
    background: #f7f7f7;
}
td,
th {
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align : middle;
}
td,
.sec_tt p,
footer,
footer a {
    color: #666;
}  
.col150px {
    width: 150px;
}
.col250px {
    width: 250px;
}
.col10 {
    width: 25%;
}
.col15 {
    width: 15%;
}
.colauto {
    width: auto;
}
.table_desc li {
    list-style: square;
    color: #666;
    margin-left: 20px;
    line-height: 26px;
    font-size: 14px;
}
.square_style {
    padding-left: 25px;
    text-align: left;
}
.square_style li {
    list-style: square;
}
.dash_style li {
    list-style:none;
}
/*-----------------QUICK BUTTON-----------------*/
.main_quick_wrap {
    background: rgb(249,249,249);
    padding: 20px 0;
}
.main_quick_wrap .quick_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.quick_title h3 {
    font-size: 32px;
    font-weight: bold;
}
.main_quick_wrap .quick_button {
    width: 700px;
}
.main_quick_wrap .quick_button ul {
    display: flex;
    justify-content: space-between;
}
.main_quick_wrap .quick_button ul li {
    height: 120px;
    width: 120px;
    transition: .3s;
}
.main_quick_wrap .quick_button ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #000;
}
.quick_button .btn_tt {
    cursor: pointer;
}
/* ----- SPRITE ----- */
.sprite {
    width: 50px;
    height: 50px;
    background: url('../images/sprite.png') no-repeat;
    display: inline-block;
    text-indent: -9999em;
    border: none;
}
.service .sprite.search {
    width: 16px;
    height: 16px;
    background-position: 0 -402px;
    cursor: pointer;
    margin: 0 15px;
}
.headerbg .service .sprite.search {
    background-position-y: -424px;
}
.gnb .sprite.search {
    display: none;
    padding: 0;
}
.sprite.submit {
    width: 40px;
    height: 40px;
    background-position: -52px -402px;
}
.sprite.close {
    width: 40px;
    height: 40px;
    background-position: -100px -402px;
}
.sprite.ico-check {
    background-position: -60px 0;
}
.sprite.ico-offer {
    background-position: -120px 0;
}
.sprite.ico-cost {
    background-position: -180px 0;
}
.sprite.ico-map {
    width: 45px;
    background-position: -240px 0;
}
.sprite.ico-use {
    background-position: 0 -181px;
}
.sprite.ico-slope {
    background-position: -60px -181px;
}
.sprite.ico-rental{
    background-position: -120px -181px;
}
.sprite.ico-locker {
    background-position: -180px -181px;
}
.sprite.twitter {
    background-position: 0 -361px;
}
.sprite.facebook {
    background-position: -40px -361px;
}
.sprite.kakao {
    background-position: -80px -361px;
}
.sprite.instagram {
    background-position: -120px -361px;
}
.sprite.youtube {
    background-position: -160px -361px;
}
.sprite.home {
    width: 20px;
    height: 20px;
    background-position: -149px -397px;
}
/* ----- hover ----- */
.quick_button ul li:hover .sprite {
    background-position-y: -121px;
}
.quick_ski_button ul li:hover .sprite {
    background-position-y: -307px;
}
.quick_button ul li:hover {
    transform:translateY(-5px);
}
.quick_button ul li:hover .btn_tt {
    color: var(--turquoise-color);
}
/* ----- dark mode ----- */
.dark .quick_button .sprite {
    background-position-y: -60px;
}
.dark .quick_ski_button .sprite {
    background-position-y: -242px;
}
.dark .bread_crumbs .sprite,
.dark .share_print button::before {
    background-position-y: -424px;
}
/* -----------------BUTTON----------------- */
.short-cut {
    display: inline-block;
    font-size: 17px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    padding: 0 17px;
    margin: 25px auto 0;
    text-transform: capitalize;
    position: relative;
    transition: .4s;
    z-index: 1;
}
.short-cut-gray {
    border: 1px solid #999;
    color: #999;
}
.short-cut-gray:hover {
    color: #fff;
}
.short-cut:hover {
    border-color: var(--turquoise-color);
}
.short-cut:before {
    content: '';
    position: absolute;
    background:var(--turquoise-color);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scaleX(0);
    transform-origin: 50%;
    transition: .2s;
}
.short-cut:hover:before {
    transform: translate(-50%, -50%) scaleX(1);
    z-index: -1;
}
.ctrl_btn {
    position: fixed; 
    width: 40px;
    height: 40px;
    bottom: 8%;
    z-index: 5;
}
#plus_wrap {
    left: 3%; 
}
#go-top {
    right: 3%;
    display: none;
}
.ctrl_btn button {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--turquoise-color);
    color: #fff;
    border: none;
    font-size: 20px;
    text-align: center; 
    padding: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}
.ctrl_btn button span {
   line-height: 40px;
}
#plus_wrap .btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .5s;
}
#plus_wrap #plus {
    z-index: 5;
}
.mode_btn .mode_dark {
    color: yellow;
}
.mode_btn .mode_light {
    display: none;
    color: orange;
}
/* -----------------TAB----------------- */
.tab_menu {
    display: flex;
}
.tab_menu li a {
    display: block;
}
.tab_contents > div {
    display: none;
}
.tab_contents > div.active {
    display: block;
}
/* -----------------HEADER----------------- */
header {
    position: fixed;
    left: 0; 
    top:0; 
    right:0;
    z-index: 7777;
    transition: all 0.4s;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 0 0;
    box-sizing: border-box;
    /* height: 110px; */
}
header.fixed {
    padding-top: 0px;
}
header a {
    color: #fff;
    transition: .2s;
}
header.headerbg {
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}
header.headerbg a,
header.headerbg .material-icons,
header.headerbg select {
    color: #000;
} 
.logo a {
    display: block;
    width: 166px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    text-indent: -9999em;
}
.gnb .logo a,
.dark .headerbg .gnb .logo a {
    background-image: url('../images/logo_white.svg');
    height: 25px;
}
header.headerbg .gnb .logo a {
    background-image: url('../images/logo_color.svg');
}
.gnb nav > ul > li.active > a {
    color:var(--turquoise-color);
}
.service {
    display: flex;
    justify-content: flex-end;
    line-height: 25px;
    font-size: 13px;
    gap: 15px;
    color: #fff;
}
.service-ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.service-ul > li > a {
    padding: 0 15px;
}
.service-ul > li > a:hover {
    text-decoration: underline;
}
.fixed .service {
    display: none;
}
.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 70px; 
}
.headerbg .line {
    border-bottom: 1px solid rgb(231, 231, 231);
}
.gnb nav > ul { /* 메뉴 리스트 부모 */
    display: flex;
    justify-content: center;
}
.gnb nav > ul > li { /* 메뉴 리스트 */
    position: relative;
    font-weight: normal;
    font-size: 16px;
}
.gnb nav > ul > li > a { 
    padding: 24.5px 40px;
}
.gnb nav .depth2 { /* 서브 메뉴 리스트 부모 */
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 500;
    line-height: 34px;
    padding-top: 20px;
}
.gnb nav .depth2 li { /* 서브 메뉴 리스트 */
    white-space: nowrap;
    font-size: 14px;
    color: #e1e2dc;
}
.gnb nav .depth2 li > a {
    padding: 8px 0;
    color:#333;
}
.gnb nav .depth2 li > a:hover{
    color:var(--turquoise-color);
}
.lang {
    position: relative;
    display: flex;
    align-items: center;
}
.lang span:first-child {
    font-size: 20px;
    padding-right: 5px;
}
.service select {
    cursor: pointer;
    color: #fff;
    border: none; 
    background: transparent;
    -webkit-appearance: none;  /* for chrome */
    -moz-appearance: none;  /* for firefox */
    appearance: none;
}
select::-ms-expand {
    display: none;  /*for IE10,11*/
}
.service select:focus {
    /* outline: none; */
}
.service select option {
    color: #000;
}
/*  검색창  */
.search_form,
header .slide_menu_top {
    display: none;
}
.open_search .search_form {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 557;
}
.search_form .container {
    height: 100vh;  
    display: flex;
    padding-top: 80px;
    align-items: flex-end;
    flex-direction: column;
    gap: 100px;
}
.search_form form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search_form input {
    padding: 20px 20px;
    width: 70%;
    font-size: 20px;
    line-height: 27px;
    border: none;
}
/*----------------------HAMBURGER-----------------------*/
.hamburger-btn {
    display: none;
	position: relative;
	width: 20px;
	height: 20px;
    z-index: 3;
    text-indent: -9999em;
}
.hamburger-btn span {
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background-color: #6f7271;
    top: 0;
    left: 0;
    transition: transform .4s ease-in-out, opacity .2s ease-in-out;
}
.hamburger-btn span:nth-child(1) {
    top: 0px;
}
.hamburger-btn span:nth-child(2),
.hamburger-btn span:nth-child(3) {
    top: 9px;
}
.hamburger-btn span:nth-child(4) {
    top: 18px;
}
.hamburger-btn.active span:nth-child(1),
.hamburger-btn.active span:nth-child(4) {
	opacity: 0;
}
.hamburger-btn.active span:nth-child(2) {
	transform: rotate(45deg);
}
.hamburger-btn.active span:nth-child(3) {
	transform: rotate(-45deg);
}
/*----------------------BREAD CRUMBS-----------------------*/
.location_wrap {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}
.location_wrap > ul {
    display: flex;
}
.location_wrap li {
    line-height: 55px;
}
.bread_crumbs > li {
    position: relative;
    border-right: 1px solid #ddd;   
    display: flex;
    align-items: center;
}
.bread_crumbs >li:not(:first-child) {
    padding:0 20px;
}
.bread_crumbs >li:first-child a { /*home*/
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.bread_crumbs .bc_depth2 li:not(.activation),
.bread_crumbs .bc_depth2 li a {
    padding: 0 20px;
    display: block;
}
.bread_crumbs .bc_depth2 {
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
   
}
.bread_crumbs >li.active .bc_depth2 {
    display: block;
 
}
.bread_crumbs .bc_depth2 li {
    color: #e1e2dc;
    border-bottom: 1px solid #ddd;

}
.bread_crumbs .bc_depth2 li.active a {
    color: var(--turquoise-color);
}
.bread_crumbs .bc_depth2 li:hover {
    background-color: #f2f2f3;
}
.location_wrap .material-icons {
    padding-left: 35px;
}
.bread_crumbs >li.active .material-icons {
    padding: 0 35px 0 0px;
    transform: rotate(-180deg);
}
.share_print li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.share_print li:last-child {
    padding: 0 20px 0 50px;
}
.share_print li:last-child:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #ddd;
}
.share_print button {
    position: relative;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
}
.share_print button:before {
    content: '';
    position: absolute;
    background: url('../images/sprite.png') no-repeat;
    height: 24px;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.share_print .share:before {
    width: 28px;
    background-position: -177px -397px;
}
.share_print .print:before {
    width: 24px;
    background-position: -213px -397px;
}

.main_content_warp {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%,-50%);
    width: 610px;
    text-align: center;
    color: #fff;
}
.main_content_warp p:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold;
    animation : down1 2.5s forwards;
    font-size: 32px;
    line-height: 48px;
}
.main_content_warp p:nth-child(2) {
    animation : down1 1.5s forwards;
}
.main_content_warp p:nth-child(3) {
    font-weight: lighter;
    animation : down1 0.5s forwards;
}
@keyframes down1 {
    0% {opacity: 0; transform: translateY(-80%);}
    10% {opacity: 0; transform: translateY(-80%);}
    100% {opacity: 1; transform: translateY(0);}
} 
/*----------------FOOTER---------------*/
footer p {
    font-size: 14px;
    line-height: 23px;
}
footer .footer_menu ul,
footer .container:not(.footer_menu .container),
.address_wrap li div,
footer .sns {
    display: flex;
    justify-content: space-between;
} 
footer .footer_menu ul{
    padding-bottom: 15px;
    text-align: center;
}
footer .footer_menu ul li a:hover {
    text-decoration: underline;
}
footer .address_section {
    background: #f2f2f3;
    margin-bottom: 30px;
    border-top: 1px solid #e1e2dc;
    border-bottom: 1px solid #e1e2dc;
}
footer .address_section {
    padding: 30px 0;
}
.address_wrap li {
    text-align: left;
    width: 46%;
}    
.address_wrap li div {
    padding-bottom: 20px;
}
.address_wrap li .address_tt {
    color: var(--turquoise-color);
    font-size: 24px;
    text-transform: uppercase;
}
.address_wrap li .address_tt span {
    color: #677398;
}
.address_wrap li a {
    background-color: var(--turquoise-color);
    color: #fff;
    border-radius: 5px;
    padding: 0 10px;
}
footer .add .container {
    text-align: left;
}
footer .add p:last-child {
    margin-top: 30px;
    text-transform: uppercase;
}
footer select {
    height: 30px;
    width: 180px;
    padding: 0 15px;
    border:1px solid #ddd;
}
footer .logo a {
    background: url('../images/gslogo.png') no-repeat;
    width: 150px;
    height: 50px;
}
footer .site_links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .sns a {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999em;
}
/*------------------ DARK MODE ------------------*/
/* border color #444, #222 통일 */
/* 폰트 #d9d9d9; */
/* background  rgb(51, 51, 51) - 푸터 배경색*/

/* 배경색 */
.dark,
.dark .popup,
.dark header.headerbg,
.dark .convenience,
.dark .address_section {
    background: #222;
}
.dark .main_quick_wrap,
.dark .location_wrap,
.dark .bc_depth2,
.dark #news form,
.dark #news .filter_btn button:not(button.active),
.dark table thead,
.dark .table_desc,
.dark #news #numbers li,
.dark .tab_contents .link_group li:not(:last-child):after {
    background: #333;
}
.dark nav.toggle {
    background: rgb(39, 39, 39);
}
/* .dark .full_bg_wrap:after {
    background: linear-gradient(to right, transparent calc(33.33333% - 3.5px), #222 calc(33.33333% - 3.5px),#222 calc(33.33333% + 3.5px), transparent calc(33.33333% + 3.5px),transparent calc(66.66666% - 3.5px),#222 calc(66.66666% - 3.5px),#222 calc(66.66666% + 3.5px), transparent calc(66.66666% + 3.5px));;
} */
.dark .main_business > .container .full_bg_wrap::after {
    background: linear-gradient(to right, transparent calc(33.33333% - 3.5px), #222 calc(33.33333% - 3.5px),#222 calc(33.33333% + 3.5px), transparent calc(33.33333% + 3.5px),transparent calc(66.66666% - 3.5px),#222 calc(66.66666% - 3.5px),#222 calc(66.66666% + 3.5px), transparent calc(66.66666% + 3.5px));;
}
.dark .hamburger-btn span {
    background: #fff;
}
.dark .hamburger-btn.active span {
    background-color:#3D4146;
}
.dark .bread_crumbs .bc_depth2 li:hover {
    background-color: #4d4d4d;
}
/* 폰트 컬러 */
.dark h2,
.dark h3,
.dark h4,
.dark p:not(.main_content_warp p,.slide_menu_top p),
.dark a:not(header a),
.dark label,
.dark dd,
.dark button,
.dark header.headerbg select,
.dark table th,
.dark table td,
.dark .bread_crumbs > li,
.dark .table_desc li,
.dark header.headerbg .material-icons, 
.dark .offers-wrap .img_caption span,
.dark .popup,
.dark .btn_tt {
    color: #d9d9d9;
}
.dark .table li a,
.dark footer p,
.dark #agreement span {
    color: #a8a8a8;
}
.dark .headerbg a {
    color: #fff;
}
.dark nav .depth2 li { /* 서브 메뉴 리스트 */
    color: rgb(100, 100, 100);
}
.dark nav .depth2 li a {
    color:rgb(212, 212, 212);
}
.dark nav .depth2 li a:hover,
.dark .bread_crumbs .bc_depth2 li.activation.active a {
    color: var(--turquoise-color);
}
.dark .bread_crumbs .bc_depth2 li {
    color: #444;
}
/* 보더컬러 */
.dark .headerbg .line,
.dark .news_slides p,
.dark table td,
.dark table th,
.dark #news table tbody tr,
.dark .tab_menu li,
.dark #signin .tab_menu li {
    border-color: #444;
}
.dark .bread_crumbs > li,
.dark .share_print li:first-child,
.dark .bc_depth2,
.dark .bc_depth2 li {
    border-color: #222;
}
.dark .location_wrap {
    border-color: transparent transparent #222;
}
.dark .gnb nav.toggle > ul > li {
    border-bottom: 1px solid rgb(63,63,63);
}
.dark .offers .slick-slide {
    border-left-color: rgb(53, 53, 53);
}
.dark .offers .slick-current {
    border-left-color: transparent;
}
.dark .news .controls button {
    border-color: #444 #444 #444 transparent;
}
.dark .news .controls button:first-child {
    border-left-color: #444;
}
.dark .convenience_wrap li:nth-child(odd) {
    background-color:rgb(63, 63, 63);
}
.dark .convenience_wrap li:nth-child(odd):after {
    border-color: rgb(63, 63, 63) transparent transparent transparent;
}
.dark .convenience_wrap li:nth-child(5):after {
    border-color: transparent transparent rgb(63, 63, 63) transparent;
}
.dark footer .address_section {
    background: #333;
    border-top: 1px solid rgb(53, 53, 53);
    border-bottom: 1px solid rgb(53, 53, 53);
}
/* button */
.dark .short-cut-white {
    border: 1px solid #fff;
    color: #fff;
}
.dark .short-cut-white:hover {
    border-color: var(--turquoise-color);
}
.dark .ctrl_btn .mode_dark {
    display: none;
}
.dark .ctrl_btn .mode_light {
    display: block;
}
.dark .headerbg .service .sprite.search {
    background-position: 0px -402px;
}


