@import url(common.css);
/*----------------------------cookie popup----------------------------*/
.popup {
    position: fixed;
    left: 10%;
    top: 100px;
    width: 500px;
    border: 2px solid var(--turquoise-color);
    z-index: 7778;
    background: #fff;
    color: #222;
    line-height: 22px;
    font-size: 14px;
}
.popup > div:not(.close_area) {
    padding: 30px 20px 20px;
}
.popup .content,
.popup .during,
.popup .file,
.popup .pages {
    margin-bottom: 20px;
}
.popup .content {
    font-size: 15px;
}
.popup h2,
.popup em,
.popup h3 {
    font-weight: bold;
}
.popup .content p {
    font-size: 13px;
}
.popup .close_area {
    background-color: var(--turquoise-color);
    padding: 3px 20px;
    display: flex;
    justify-content: space-between;
}
.popup .close_area label {
    color:#fff;
}
.popup a {
    color: #3E6AE5;
}
/*----------------------------main slide----------------------------*/
.main_slide_wrapper {
    position: relative;
    overflow: hidden;
    height: 83vh; 
}
.main_slide_wrapper .main_slides {
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0;
    bottom: 0;
}
.main_slide_wrapper .main_slides li {
    position: absolute;
    left: 0;
    height: 100%; 
    width: 100%; 
    background: no-repeat 50% 0 / cover; 
    display: none;
}
.main_slide_wrapper .main_slides li:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.2);
}
.main_slide_wrapper .main_slides .slide1 {
    background-image: url('../images/main_slide_01.jpg');
}
.main_slide_wrapper .main_slides .slide2 {
    background-image: url('../images/main_slide_02.jpg');
}
.main_slide_wrapper .main_slides .slide3 {
    background-image: url('../images/main_slide_03.jpg');
}
.main_slide_wrapper .main_slides .slide4 {
    background-image: url('../images/main_slide_04-1.jpg');
}
.main_slide_wrapper .main_slides .slide5 {
    background-image: url('../images/main_slide_05-1.jpg');
}
.main_slide_wrapper .slide1 .main_content_warp {
    text-align: left;
    margin-left: -10%;
}
.main_slide_wrapper .slide1 .main_content_warp .short-cut {
    margin: 20px 0 0;
}
.main_slide_wrapper .slide3 .main_content_warp {
    text-align: right;
    margin-left: 190px;
}
/* 좌우 방향키 */
.main_slide_wrapper .controls a {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%,-50%);
    text-indent: -9999em;
}
.main_slide_wrapper .controls .prev {
    margin-left: -700px;
}
.main_slide_wrapper .controls .next {
    margin-left: 700px;
}
/* pager container */
.main_slide_wrapper .pager_container {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}
.main_slide_wrapper button {
    width: 35px;
    height: 35px;
    background: rgba(0,0,0,.5);
    border: none;
    border-radius: 50%;
    text-indent: -9999em;
    display: none;
    position: relative;
}
.main_slide_wrapper button.active {
    display: block;
}
.main_slide_wrapper button:before,
.main_slide_wrapper button:after {
    content: '';
    position: absolute;
    top: 50%;
}
.main_slide_wrapper .pause:before,
.main_slide_wrapper .pause:after {
    width: 4px;
    height: 12px;
    background: rgba(255,255,255,.8);
    transform: translateY(-50%);
}
.main_slide_wrapper .pause:before {
    left: 11px;
}
.main_slide_wrapper .pause:after {
    right: 11px;
}
.main_slide_wrapper .replay:before {
    border-style: solid;
    border-width: 8px 10px;
    border-color: transparent transparent transparent rgba(255,255,255,.8);;
    left: 50%;
    transform: translate(-4px,-50%);
}
/* pager button */
.main_slide_wrapper .pager {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.main_slide_wrapper .pager a {
    width: 11px;
    height: 11px;
    background:#fff;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 4px;
    text-indent: -9999em;
    border: 2px solid transparent;
    background-clip: content-box;
}
.main_slide_wrapper .pager a.active {
    border-color: var(--turquoise-color);
    background:none;
}
/*----------------------------메인 비지니스-----------------------------*/
.main_business >.container {
    position: relative;
}
.full_bg_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.full_bg_wrap:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 
    linear-gradient(to right, transparent calc(33.33333% - 4.5px), #fff calc(33.33333% - 4.5px),#fff calc(33.33333% + 4.5px), 
    transparent calc(33.33333% + 4.5px),transparent calc(66.66666% - 4.5px),#fff calc(66.66666% - 4.5px),#fff calc(66.66666% + 4.5px), transparent calc(66.66666% + 4.5px));
} 
.full_bg_wrap > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}
.full_bg_wrap .full-left {
    background-position: left center; 
}
.full_bg_wrap .full-center {
    background-position : center center;
}
.full_bg_wrap .full-right {
    background-position: right center;
} 
.horizontal_wrap {
    display: flex;
    justify-content: center;
    gap: 9px;
    width: 100%;
}
.horizontal_wrap li {
    width: 394px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.horizontal_wrap li:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    pointer-events: none;
}
.horizontal_wrap li:hover:after {
    opacity: 1;
}
.horizontal_wrap li a {
    display: block;
}
.horizontal_wrap .img {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out;
}
.horizontal_wrap li .golf {
    background: url('../images/golf_thumb.jpg') left center/cover;
}
.horizontal_wrap li .condo {
    background: url('../images/condo_thumb.jpg') center center/cover;
}
.horizontal_wrap li .ski {
    background: url('../images/ski_thumb.jpg') right center/cover;
}
.horizontal_wrap li .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
}
.caption_up {
    position: absolute;
    top: 85%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 15px;
    color: #fff;
    transition: .5s;
}
.caption_up h3 {
    font-size: 2em;
    text-transform: capitalize;
}
.caption_up p {
    margin-top: 100px;
    transition: 0.9s;
}
.horizontal_wrap li:hover .caption_up{
    top:50%;
    z-index: 1;
}
.horizontal_wrap li:hover .caption_up p{
    margin-top: 15px;
}
/*----------------------------offers----------------------------*/
.offers .container,
.news .container {
    overflow: hidden;
}
.offers .slick-list {
    margin: 0 -27px;
}
.offers .slick-slide {
    padding: 0 27px;
    border-left: 1px solid #eee;
}
.offers .slick-current {
    border-left: 1px solid transparent;
}
.offers .slick-slide img {
    width: 100%;
    height: inherit;
    transition: .4s;
}
.offers-wrap figure {
    overflow: hidden;
}
.offers-wrap a {
    display: block;
}
.offers-wrap figure:hover img {
    transform: scale(1.1);
}
.offers-wrap .img_caption {
    line-height: 36px;
    text-align: left;
    padding-top: 15px;
}
.offers-wrap .img_caption h3 {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.offers-wrap .img_caption .pri {
    color: #666;
    text-decoration: line-through;
    font-size: 14px;
}
.img_caption p {
    color: #666;
    font-size: 14px;
    cursor: pointer;
}
.offers-wrap .img_caption span {
    font-size: 18px;
}
.slick-dots {
    margin-top: 40px;
}
.slick-dots li {
    display: inline-block;
    padding: 0 5px;
}
.slick-dots button {
    cursor: pointer;
    width: 11px;
    height: 11px;
    background: transparent;
    border-radius: 50%;
    text-indent: -9999em;
    border: 2px solid #ccc;
    padding: 0;
    position: relative;
}
.slick-active button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: 3px solid var(--turquoise-color);
    margin-top: -3px;
    margin-left: -3px;
}
/*----------------------------restaurant----------------------------*/
.restaurant {
    position: relative;
    max-width: 1903px;
    margin: 0 auto;
    padding: 50px 0;
    color: #fff;
}
.bg {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0;
    background: url('../images/grangchef.jpg') no-repeat center/cover;
    background-attachment: fixed;
    transition: all 1s;
    z-index: -2;
}
.bg:before {
    content: '';
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: -1;
}
.restaurant_wrap {
    display: flex;
    justify-content: space-between;
}
.restaurant_wrap .description {   
    width: 500px;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: left;
}
.restaurant_wrap h2 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 20px;
}
.restaurant_wrap .rest_desc {
    margin-top: 20px;
    line-height: 30px;
    transition: .4s;
}
.table {
    width: 600px;
}
.table ul {
    display: flex;
    flex-wrap: wrap;
}
.table li {
    border:1px solid #fff;
    width: 140px;
    height: 80px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    transition: .2s .1s ease-out;
    text-align: center;
}
.table li a {
    display: block;
    height: 100%;
    color: #fff;
}
.table li p {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    white-space: nowrap;
}
.table li strong {
    font-style: italic;
    color: var(--turquoise-color);
    text-transform: capitalize;
}
.table li:last-child strong {
    text-transform: uppercase;
}
.table li:before {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient( 135deg, var(--turquoise-color) 10%, #736EFE 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity .2s;
}
.table li:hover:before {
    opacity: 1;
}
.table li:hover {
    border-color:var(--turquoise-color);
}
.table li:hover strong {
    color: #fff;
}
/*----------------convenience---------------*/
.convenience {
    text-align: center;
    background: #f9f9f9;
}
.convenience_wrap img {
    width: 100%;
    height: auto;
}
.convenience_wrap ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.convenience_wrap li { 
    width: 400px;
    height: auto;
    position: relative;
    box-sizing: border-box;
}
.convenience_wrap li a {
    display: block;
    height: 100%;
    box-sizing: border-box;
}
.convenience_wrap li div p {
    margin-top: 15px;
    color: rgb(80, 78, 78);
    font-size: 14px;
    line-height: 24px;
}
.convenience_wrap li h3 {
    font-size: 28px;
    font-weight: bold;
}
.convenience_wrap li:nth-child(odd) {
    background-color: #fff;
}
.convenience_wrap li:nth-child(odd) a {
    padding: 30px;
}
.convenience_wrap li:nth-child(odd):after {
    content: '';
    border-style: solid;
    border-width: 20px;
    border-color: #fff transparent transparent transparent ;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    z-index: 1;
}
.convenience_wrap li:nth-child(5):after {
    top: 0;
    transform: translate(-50%,-100%);
    border-color: transparent transparent #fff transparent;
}
/*----------------news---------------*/
.news .controls {
    display: flex;
    padding-bottom: 30px;
}
.news .controls button {
    width: 100%;
    border: 1px solid #ddd;
    border-left-color: transparent;
    background: transparent;
    font-size: 18px;
    line-height: 40px;
    position: relative;
}
.news .controls button:first-child {
    border-left-color: #ddd;
}
.news .controls button.active {
    border-bottom-color: transparent;
    font-weight: bold;
}
.news .controls button.active:before {
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    height: 2px;
    background: var(--turquoise-color);
}
.news_slide_wrapper {
    position: relative;
}
.news_slides > li:not(.emptymessage) {
    text-align: left;
}
.news_slides li .news_title {
    height: 100px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news_slides img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.news_slides h3 {
    line-height: 27px;
    font-size: 17px;
    font-weight: bold;
}
.news_slides p {
    font-size: 14px;
    color: #666;
    border-top: 1px solid #ddd;
}
.news_slides li.emptymessage {
    width: 100%;
    text-align: center;
    padding: 150px 0;
    font-size: 20px;
    line-height: 20px;
}
