@import url(common.css);
.news_bg {
    background: url('https://res.cloudinary.com/suyeon/image/upload/v1649046072/images/news_top_bg_dgxwt1.jpg') no-repeat center center/cover;
}
#news form {
    background: #f7f7f7;
    padding: 30px 170px;
    margin: 20px 0 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
#news form input[type="search"] {
    flex: 1;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0 20px;
}
#news form button {
    height: 50px;
    padding: 0 30px;
    background-color: var(--turquoise-color);
    border: none;
    color: #fff;
}
#news .filter_btn {
    display: flex;
    gap: 5px;
}
#news .filter_btn button {
    flex: 1;
    border: none;
    background-color: #f7f7f7;
    padding: 10px 0;
}
#news .filter_btn button.active {
    background-color: var(--turquoise-color);
    color: #fff;
}
.text-red {
    color: red;
    font-weight: bold;
}
#result_count {
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
}
#result_count + figure {
    padding-top: 5px;
}
#emptymessage {
    display: none;
    font-size: 20px;
    padding: 100px 0;
    text-align: center;
}
#numbers {
    padding-top: 20px;
}
#numbers li {
    display: inline-block;
    margin: 5px 5px;
    border: 1px solid #ddd;
}
#numbers li a {
    color: #666;
    display: block;
    padding: 2px 10px;
}
#numbers li.active {
    border-color: #333;
}
#numbers li.active a {
    color: #fff;
    background: #333;
}

.dark #numbers li {
    border-color: #333;
}
.dark #numbers li a {
    background: #222;
}
.dark #numbers li.active {
    border-color: #111;
}
.dark #numbers li.active a {
    background: #111;
}