/*1024 아이패드 프로*/
/*768 아이패드 */
/*480 모바일 */

/*1600이하 */
@media(max-width:1600px) {    
    .main_slide_wrapper .controls .prev {
        margin-left: -45%;
    }
    .main_slide_wrapper .controls .next {
        margin-left: 45%;
    } 
}
/*1216이하 */
@media(max-width:1216px) {    
    .convenience_wrap li:nth-child(1) {
        order: 3;
    }
    .convenience_wrap li:nth-child(2) {
        order: 2;
    }
    .convenience_wrap li:nth-child(3) {
        order: 5;
    }
    .convenience_wrap li:nth-child(4) {
        order: 4;
    }
    .convenience_wrap li:nth-child(5) {
        order: 1;
    }
    .convenience_wrap li:nth-child(6) {
        order: 6;
    } 
    .convenience_wrap li:nth-child(odd):after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 20px;
        border-color: transparent transparent transparent #fff ;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .dark .convenience_wrap li:nth-child(odd):after {
        border-color: transparent transparent transparent rgb(63, 63, 63);
    }
    .dark .convenience_wrap li:nth-child(odd) {
        border-bottom: 1px solid rgb(85, 85, 85);
    }
}
/*1200이하 */
@media(max-width:1200px) {
    .container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .main_slide_wrapper .slide3 .main_content_warp {
        margin-left: 8%;
    }
    .full_bg_wrap {
        left: 15px;
        right: 15px;
    }
    /*------------------restaurant------------------*/ 
    .restaurant_wrap.container {
        padding: 0;
    }
    .restaurant_wrap .description {
        flex: 1;
    }
    /*------------------news------------------*/
    .offers-wrap .img_caption h3,
    .news .news_slides li h3 {
        font-size: 0.9rem; 
        line-height: 21px;     
    }
    .offers-wrap .img_caption span,
    .offers-wrap .img_caption p {
        font-size: 14px;
    }
    /*------------------ski_info------------------*/
    .progress_wrap {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .progress_wrap > div {
        width: 25%;
    }
    /*------------------breadcrumbs------------------*/
    .location_wrap.container {
        padding: 0;
    }
    /*------------------ski school------------------*/
    #mentor img {
        width: 30%;
    }
    /*------------------news.html------------------*/
    #news .col150px {
        width: 8%;
    }
    #news .col250px {
        width: 15%;
    }
}   
/* @media (max-width:1024px) and (min-resolution:2dppx){ */

/*1130이하 태블릿 (로고가 포지션 잡힌 시점)*/
@media(max-width:1130px) { 
    .gnb .logo {
        position: absolute; 
        top: 15px; 
        left:15px;   
    }
    .gnb nav {
        width: 100%;
    }
    .gnb nav > ul > li a {
        padding: 24.5px 3.906vw;
    }
}
@media(max-width:1024px) {    
    .sprite {
        width: 40px;
        height: 40px;
        /* background: url(../images/sprite_retinaX2.png) no-repeat; */
        background: url('../images/sprite_retinaX2.png') no-repeat;
        background-size: 290px 450px;
    }
    .sprite.ico-map {
        width: 36px;
    }
    /*------------------main slide------------------*/
    .main_slide_wrapper .slide1 .main_content_warp {
        margin-left: -6%;
    }
    .main_slide_wrapper .controls {
        display: none;
    }
    /*------------------quick button------------------*/
    .main_quick_wrap {
        padding: 0;
    }
    .main_quick_wrap .quick_title{ 
        display: none;
    }
    /*------------------restaurant------------------*/
    .restaurant_wrap {
        flex-direction: column; 
        align-items: center; 
        gap: 20px;
    }
    .restaurant_wrap h2 {
        margin-top: 0;
    }
    .restaurant_wrap .description {
        width: 80%; 
        text-align: center; 
    }
    /*------------------news------------------*/
    /*------------------footer------------------*/
    footer .logo {
        display: none;
    }
    footer .footer_menu ul {
        justify-content: center;
        flex-wrap: wrap;   
    }
    .footer_menu li {
        width: 48%;
        border: 1px solid; 
    }
    .footer_menu li {
        border-color: #ccc #ccc transparent transparent;
    }
    .footer_menu li:nth-child(7),
    .footer_menu li:nth-child(8) {
        border-bottom: 1px solid #ccc;
    }
    .footer_menu li:nth-child(odd) {
        border-left: 1px solid #ccc;
    }
    /* dark mode */
    .dark .footer_menu li {
        border-color: #444 #444 transparent transparent;
    }
    .dark .footer_menu li:nth-child(7),
    .dark .footer_menu li:nth-child(8) {
        border-bottom-color: #444;
    }
    .dark .footer_menu li:nth-child(odd) {
        border-left-color: #444;
    }
    /*------------------breadcrumbs------------------*/
    .location_wrap .share_print button {
        text-indent: -9999em;
        padding: 0;
    }
    .share_print li {
        padding: 0 20px 0 48px;
    }
    .share_print li:first-child {
        border-left: 1px solid #ddd;
    }
    .share_print li:last-child {
        /* padding: 0 20px 0 44px; */
        display: none;
    }
    /*------------------ski.html------------------*/
    .ski_access_desc {
        padding-right: 20px;
        line-height: 26px;
    }
    .ski_access_desc h3 {
        font-size: 16px;
    }
    .ski_access_desc p {
        font-size: 14px;
    }
    .ski_access_desc p:last-child {
        margin-top: 10px;
    }
    .ski_access_desc .short-cut {
        margin: 2px auto;
    }
    .grid-item--height6 {       
        flex-direction: row;
        align-items: center;
        width: 100%; 
        height:250px;
    }
    .grid-item--width2 {
        width: 40%;
    }
    .grid-item--width3 {
        width: 40%;
    }
    .grid-item--width5 {
        width: 60%;
    }
    #grid3 img {
        height: 100%;
        width: auto;
    }
    #grid3 .grid-description {
        margin: 0;
        text-align: center;
        width: 50%;
    }
    #tabs-1 .filter_wrap {
        flex-wrap: wrap;
    }
}
/*768이상 ~ 1130이하*/
@media screen and (max-width:1130px) and (min-width:769px) {
    .fixed .gnb .logo {
        display: none;
    }
}
/*800이하 */
@media(max-width:800px) {    
    .convenience_wrap li:nth-child(odd):after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 20px;
        border-color:#fff transparent transparent transparent ;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        z-index: 1;
    }
    body.dark .convenience_wrap li:nth-child(odd):after {
        border-color: rgb(63, 63, 63) transparent transparent transparent;
    }
    body.dark .convenience_wrap li:nth-child(odd) {
        border-bottom: none;
    }
    /*------------------ski_info------------------*/
    .progress_wrap > div {
        /* width: 250px; */
        width: 35%;
    }
    /*------------------ski school------------------*/
    #mentor {
        flex-direction: column;
    }
    #mentor img {
        width: 100%;
    }
    /*------------------modal------------------*/
    .modal .modal_contents {
       width: 90%;
    }
    .modal .modal_img img {
        width: 100%;
    }
}
/*768이상 */
@media(min-width:768px) {  
    .gnb nav > ul > li:after {
        content: '';
        position: absolute;
        left: 50%; 
        bottom: 0;
        width: 80%;
        height: 2px;
        background-color: var(--turquoise-color);
        transform: translateX(-50%) scaleX(0);
        transition: transform .2s;
    }
    .gnb nav > ul > li:hover:after {
        transform: translateX(-50%) scaleX(0.7);
    }
}
/*768이하 *//*태블릿*/
@media(max-width:768px) {    
    .innerpd:not(#news .innerpd) {
        padding: 45px 0;
    }
    header .service {
        display: none;
    }
    .gnb {
        justify-content: flex-end; 
        height: 70px; 
        gap: 10px;
    }
    .gnb .logo {
        top: 22.5px;
    }
    .gnb .sprite.search {
        display: block; 
        width: 20px;
        height: 20px;
        background-position:-24px -402px ;
    }
    .dark .gnb .sprite.search {
        background-position-y: -424px;
    }
    .hamburger-btn {
        display: block; 
    }
    .popup {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 5%;
    }
    body.overflow header >.container {
        padding: 0 31px;
    }
    header .gnb nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        background: #fff;
        transition: .2s;
        display: flex;
        flex-direction: column;
        z-index: 2;
        line-height: 20px;
    }
    header nav.toggle {
        left: 0;
    }
    nav.toggle > ul > li {
        border-bottom: 1px solid #ccc;
        text-align: left;
        position: relative;
    }
    header .gnb nav > ul > li:before {
        content: '';
        width: 10px;
        height: 10px;
        box-sizing: border-box;
        border: 1px solid;
        border-color: transparent #666 #666 transparent; 
        position: absolute;
        right: 25px;
        top: 35px;
        transform: translateY(-50%) rotate(45deg);
    }
    nav.toggle > ul > li > a {
        display: block;
    }
    header .gnb nav > ul {
        overflow-y: scroll;
        flex-direction: column;
        justify-content: flex-start;
    }
    header .gnb nav .depth2 {
        position: relative;
        text-align: left;
        padding-top: 0;
        background-color: #f7f7f7;
        box-sizing: border-box;
    }
    .dark header .gnb nav .depth2 {
        background-color: rgb(58, 58, 58);
    }
    .gnb nav .depth2 li {
        padding: 10px 0 10px 30px;
        border-bottom: 1px solid #ddd;
    }
    .dark .gnb nav .depth2 li {
        border-bottom: 1px solid #444;
    }
    .gnb nav .depth2 li:last-child {
        border: none;
    }
    .gnb nav .depth2 li > a {
        display: block;
        padding: 0;
    }
    header .slide_menu_top {
        display: flex;
        flex-direction: column;
        text-align: left;
        background: rgb(253, 243, 224);
    }
    header .slide_menu_top > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10%;
    }
    header .slide_menu_top > div > a {
        line-height: 20px;
    }
    header .slide_menu_top > div > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    header .slide_menu_top p {
        font-size: 20px;
        line-height: 30px;
    }
    header .slide_menu_top .join {
        font-size: 18px;
        display: flex;
        align-items: flex-end;
    }
    .gnb .slide_menu_top .member {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        gap: 20px;
        align-items: center;  
        background: rgb(65, 65, 65);
        height: 50px;
    }
    .gnb .slide_menu_top .member li {
        line-height: 18px;
    }
    .gnb .slide_menu_top .member li:first-child {
        border-right: 1px solid #666;
        padding-right: 20px;
    }
    .gnb .slide_menu_top .member a {
        color:#fff;
    }
    body.dark header .slide_menu_top a {
        color:#000;
    }
    /*------------------main slide------------------*/
    .main_slide_wrapper .main_content_warp {
        width: 90%;
    }
    .main_slide_wrapper .slide1 .main_content_warp,
    .main_slide_wrapper .slide3 .main_content_warp {
        margin: 0;
    }
    /*------------------quick-button------------------*/
    .main_quick_wrap .quick_button {
        width: 95%;
    }
    .main_quick_wrap .quick_button ul li{
        width: 15%;
    }
    .main_quick_wrap .quick_button ul li p {
        font-size: 12px;
        white-space: nowrap;
    }
    /*------------------business------------------*/
    .horizontal_wrap {
        flex-wrap: wrap; 
        flex: 1;
    }
    .horizontal_wrap li {
        width: 100%;
    }
    /*------------------restaurant------------------*/
    .table {
        width: 100%;
    }
    .table ul {
        justify-content: center;
    }
    .table li {
        border-color: rgb(201, 201, 201); 
        width: 22%;
    }
    .dark .table li {
        border-color: #444; 
    }
    .table li:before {
        background: none;
    }
    .table li a {
        color: #666;
    }
    .table li:hover strong {
        color: var(--turquoise-color);
    }
    .bg {
        display: none;
    }
    .restaurant_wrap .description {
        z-index: 5;
        position: relative; 
        width: 100%; 
        background: url('../images/grangchef.webp') no-repeat center center/cover;
        /* background-attachment: fixed; */
        background-attachment: initial;
        padding: 50px 15px;
    }
    .restaurant_wrap .description:before {   
        content: '';
        position: absolute;
        left: 0; 
        right: 0; 
        top:0; 
        bottom:0;
        background: rgba(0,0,0,.3);
        z-index: -1;
    }
    /*------------------news------------------*/
    .news .controls {
        flex-wrap: wrap;
    }
    .news .controls button {
        width: 25%;
    }
    .news .controls button:nth-child(-n+4) {
        border-color: #ccc #ccc transparent transparent;
    }
    .dark .news .controls button:nth-child(-n+4) {
        border-color: #444 #444 transparent transparent;
    }
    .news .controls button:nth-child(n+5) {
        border-color: #ccc #ccc #ccc transparent;
    }
    .dark .news .controls button:nth-child(n+5) {
        border-color: #444 #444 #444 transparent;
    }
    .news .controls button:nth-child(1),
    .news .controls button:nth-child(5) {
        border-left: 1px solid #ccc;
    }
    .dark .news .controls button:nth-child(1),
    .dark .news .controls button:nth-child(5) {
        border-left: 1px solid #444;
    }
    /*------------------footer------------------*/
    footer .logo {
        display: none;
    }
    footer .address_wrap .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .address_wrap li {
        width: 90%;
    }
    footer .add .container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    footer .site_links {
        flex-direction: row;
        width: 85%;
        justify-content: center;
    }
    footer .sns {
        gap: 8px;
    }
    .add address {
        width: 80%;
    }
    /*------------------ski------------------*/
    .main_bg_wrap .main_content_warp {
        margin-left: 10%;
    }
    .ski_access figure {
        display: none;
    }
    .ski_access_desc {
        padding-right: 0;
    }
    .ski_features img {
        display: none;
    }
    .ski_features ul {
        width: 80%;
        gap: 0;
    }
    .ski_features li {
        margin-bottom: 35px;
    }
    /*------------------ski_info------------------*/
    .progress_wrap {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .progress_wrap > div {
        width: 80%;
    }
    .progress_wrap > div:after {
        top: calc(100% + 15px);
        right: 50%;
        transform: rotate(135deg) translateY(-50%);
    } 
    .progress_wrap > div > div {
        height: 130px;
    }
    /*------------------ski_price------------------*/
    table th,
    table td {
        font-size: 14px;
    }
    /*------------------sign_up------------------*/
    .signup form {
        margin: 0 auto;
    }
    .signup form input:not([type="checkbox"]),
    .signup .birth_box,
    .signup form .select_wrap:not(.birth_box .select_wrap),
    #email >.select_wrap,
    .signup form button:not(.close_btn),
    .signup form button[type="submit"] {
        width: 100%;
    }
    .signup form .birth_box >input, 
    .signup form .birth_box .select_wrap {
        width: 32%;
    }
    .signup .form_btn {
        margin-top: 10px;
    }
    #agreement .modal_contents {
        width: 80%;
    }
    /*------------------news.html------------------*/
    #news .container {
        text-align: left;
    }
    #news form {
        flex-wrap: wrap;
        padding: 30px;
        margin: 20px 0px;
    }
    #news form input[type="search"],
    #news form button {
        width: 100%;
    }
    #news form button {
        margin-top: 5px;
    }
    #news .filter_btn {
        flex-wrap: wrap;
    }
    #news .filter_btn button {
        flex: auto;
        width: 21.25%;
    }
    #news table {
        border: none;
    }
    #news table colgroup col:not(:nth-child(3)),
    #news table tbody tr td:first-child {
        display: none;
    }
    #news table thead tr {
        position: absolute;
        height: 0;
        text-indent: -9999em;
    }
    #news table thead tr th {
        border: none;
        font-size: 0;
        line-height: 0;
        padding: 0;
    }
    #news table td {
        border: none;
        padding: 0;
    }
    #news table tbody tr {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ddd;
        padding: 5px 0 5px 15px;
    }
    #news table tbody td {
        width: 100%;
    }
    #news table tbody tr td:nth-child(3) {
        font-weight: bold;
        color: #000;
    }
    .dark #news table tbody tr td:nth-child(3) {
        color: #fff;
    }
    #news table tbody tr td:nth-child(2),
    #news table tbody tr td:last-child {
        font-size: 13px;
    }
    .pagenation #numbers {
        text-align: center;
    }
    /*------------------ski school------------------*/
    #ski_school .tab_menu {
        flex-wrap: wrap;
    }
    #ski_school .tab_menu li {
        box-sizing: border-box;
        width: 100%;
        flex: none;
    }
    #ski_school .tab_menu li:not(:first-child) {
        margin: -1px 0 0 0;
        border-color: transparent #ddd #ddd #ddd;
    }
    #ski_school .tab_menu li.active {
        border-color: #4d4d4d;
    }
    .curriculum .progress {
        justify-content: center;
        gap: 15px;
    }
    .curriculum .progress dl,
    .curriculum .progress.jc_c dl {
        width: 80%;
    }
    .curriculum .progress dt {
        font-size: 24px;
    }
    .dark #ski_school .tab_menu li:not(:first-child) {
        border-color: transparent #444 #444 #444;
    }
    .dark #ski_school .tab_menu li.active {
        border-color: #444;
    }
    #mentor .table_desc li {
        font-size: 14px;
        line-height: 18px;
    }
    .table_title {
        /* font-size: 24px; */
        font-size: 19px;
    }
    .p_wrap p {
        font-size: 14px;
        line-height: 22px;
    }
    /*------------------ski slope------------------*/
    #tabs-2 .filter_wrap {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #tabs-2 .filter_wrap > div {
        width: 500px;
    }
    .full_bg_wrap {
        display: none;
    }
}
/*480이하 *//*모바일*/
@media(max-width:480px) {    
    /*------------------main slide------------------*/
    .main_content_warp p:nth-child(1) {
        font-size: 6.7vw;
    }
    .main_slides .main_content_warp p:not(:first-child) {
        font-size: 3.75vw;
        line-height: 5.6vw;
    }
    /*------------------business------------------*/
    .main_business {
        max-width: 100%;
    }
    /*------------------section title------------------*/
    .sec_tt h2,
    .info_title_area h2 {
        font-size: 32px;
        line-height: 32px;
    }
    .sec_tt p,
    .info_title_area p {
        font-size: 0.8rem;
        line-height: 22px;
    }
    /*------------------offers------------------*/
    .offers .container {
        padding: 0 0 0 15px ;
    }
    .offers .slick-list {
        padding: 0;
        margin: 0;
    }
    .offers .slick-slider .slick-slide {
        padding: 0 15px;
    }
    /*------------------restaurant------------------*/
    .restaurant_wrap .description {
        text-align: left;
    }
    .description h2 {
        font-size: 32px;
    }
    .description .rest_desc { 
        margin-top: 7px;
        font-size: 14px;
        line-height: 26px;
    }
    .table li {
        width: 45%; 
        height: 60px;
    }
    /*------------------news------------------*/
    .news .controls {
        flex-wrap: wrap;
    }
    .news .controls button {
        font-size: 0.875rem;
    }
    .news_slides li.emptymessage {
        padding: 50px 0;
    }
    /*------------------footer------------------*/
    footer .site_links {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    footer .site_links select {
        width: 80%;
    }
    .address_wrap li,
    .add address {
        width: 100%;
    }
    .address_wrap li button {
        height: 25px;
    }
    .address_wrap .address_tt {
        font-size: 1.2rem;
    }
    footer p,
    footer .footer_menu li {
        font-size: 0.8rem;
        line-height: 19px;
    }
    /*------------------ski------------------*/
    .main_bg_wrap {
        background: url('../images/ski_main_bg_responsive.webp') no-repeat center center / cover;
    }
    .ski_page .main_content_warp {
        width: 200px;
        line-height: 24px;
    }
    .ski_page .main_content_warp p:nth-child(1) {
        font-size: 30px;
        line-height: 36px;
    }
    .ski_page .main_content_warp p:nth-child(2) {
        font-size: 12px;
    }
    .ski_page .main_content_warp p:nth-child(3) {
        font-size: 21px;
    }
    .ski_access_desc .short-cut {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    .ski_features li > div {
        height: auto;
    }
    .ski_features li h3 {
        font-size: 3.75vw;
    }
    .ski_access_desc p,
    .grid-description p,
    .ski_features li > div p {
        font-size: 2.8vw;
        line-height: 4.7vw;
    }
    .ski_features >.container {
        text-align: left;
    }
    .ski_features >.container > h2 {
        font-size: 6vw;
    }
    .grid-item {
        width: 100%; 
        height: 200px;
    }
    .grid-item--height6 {
        justify-content: flex-start;
    }
    #grid3 .grid-description {
       width: 215px;
       text-align: left;
    }
    #grid3 img {
        display: none;
    } 
    #grid5 .grid-description p:nth-child(3) {
        width: 80%;
    }
    .table_desc li {
        font-size: 13px;
        line-height: 22px;
    }
    /*------------------breadcrumbs------------------*/
    .bread_crumbs {
        flex: 1;
    }
    .bread_crumbs .bc_2nd {
        display: none;
    }
    .bread_crumbs >li:last-child {
        border-right: none;
        width: 100%;
        justify-content: space-between;
    }
    /*------------------sign in------------------*/
    .link_group label,
    .link_group ul li {
        font-size: 3.5vw;
    }
}
