@import url(common.css);
/*----------------------------ski main bg----------------------------*/
.main_bg_wrap {
    position: relative;
    overflow: hidden;
    height: 83vh; 
    background: url('../images/ski_main_bg.webp') no-repeat center center / cover;
}
.ski_page .main_content_warp {
    width: 317px;
    line-height: 32px;
    margin-left: 13%;
    text-align: right;
    z-index: 1;
}
.ski_page .main_content_warp p:nth-child(1) {
    font-size: 48px;
    line-height: 48px;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    animation : down1 3s forwards;
}
.ski_page .main_content_warp p:nth-child(1):before,
.ski_page .main_content_warp p:nth-child(1):after {
    position: absolute;
}
.ski_page .main_content_warp p:nth-child(1):before {
    content: '\201C';
    top: 0;
    left: -30px;
}
.ski_page .main_content_warp p:nth-child(1):after {
    content: '\201D';
    top:50%;
    right: -30px;
}
.ski_page .main_content_warp p:nth-child(2) {
    font-size: 18px;
    font-weight: 300;
}
.ski_page .main_content_warp p:nth-child(3) {
    font-weight: bold;
    font-size: 24px;
}
/*--------------------------------------------------------*/
.ski_access .container {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.ski_access_desc {
    padding-right: 50px;
    width: 550px;
    line-height: 30px;
}
.ski_access_desc h3 {
    font-weight: bold;
    font-size: 18px;
}
.ski_access_desc .turquoise {
    font-size: 32px;
    line-height: 40px;
}
.ski_access_desc h3:nth-child(2) {
    margin-bottom: 10px;
}
.ski_access figure {
    max-width: 500px;
}
.ski_access figure img {
    width: 100%;
    height: auto;
}
/*---------------------------ski features-----------------------------*/
.ski_features ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}
.ski_features li {
    display: flex;
    align-items: center;
}
.ski_features li > div {
    text-align: left;
    line-height: 27px;
    margin-left: 2%;
    padding-top: 5%;
    box-sizing: border-box;
    height: 162px;
}
.ski_features h2 { 
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 35px;
}
.ski_features li h3 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;
}
.ski_features li h3 .num {
    font-size: 32px;
    font-style: italic;
    opacity: .3;
    position: absolute;
    left: 0;
    top: -90%;
}
.ski_features img {
    width: auto;
}
.ski_features li > div p {
    font-size: 15px;
    line-height: 24px;
}
.dark .ski_features p {
    color: #ccc;
}
/* ------------------ grid ------------------ */
.grid {
    max-width: 1200px;
    margin: 0 auto;
}
.grid,.grid >* {
    box-sizing: border-box;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-sizer,
.grid-item {
    width: 10%;
}
.grid-item {
    height: 300px;
    padding: 15px;
}
.grid-item--width6 { 
    width: 60%;
}
.grid-item--height6 { 
    height: 600px; 
}
.grid-item--width2,.grid-item--height6 {
    width: 20%;
}
.grid-item--width3 {
    width: 30%;
}
.grid-item--width5 {
    width: 50%;
}
#grid1 {
    background: url('https://res.cloudinary.com/suyeon/image/upload/v1648753035/images/ski_grid_01_k3qj4c.jpg') no-repeat center center/cover;
}
#grid2 {
    background: #eae3db url('https://res.cloudinary.com/suyeon/image/upload/v1649047618/images/ski_grid_02_epnlur.png') no-repeat center center/cover;
}
.grid-item--height6 {
    background: #886fb2; 
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    gap: 20px;
}
#grid4 {
    background: #f35226;
}
#grid5 {
    background: url('https://res.cloudinary.com/suyeon/image/upload/v1649047619/images/ski_grid_05_jxondx.jpg') no-repeat center center/cover;
}

.grid-description p {
    color: #fff;
    line-height: 27px;
}
.grid-description p:nth-child(1) {
    font-size: 14px;
    text-transform: uppercase;
}
.grid-description p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}
.grid-description a {
    display: inline-block; 
    padding: 10px 15px; 
    color: #fff; 
    border: 1px solid #fff;
    margin-top: 10px;
    border-radius: 24px;
    text-transform: uppercase;
}
#grid3 img {
    width: 100%;
}
.ski_access_desc p,
#grid2 .grid-description >* {
    color:#666;
}
#grid2 .grid-description a {
    border-color:#666;
}
#grid3 .grid-description {
    text-align: center;
}
#grid5 .grid-description p:nth-child(3) {
    width: 50%;
}
/* --------------------------gallery-------------------------- */
.gallery {
    background: #fbf8ef;
    text-align: center;
    box-sizing: border-box;
}
.gallery .readmore {
    transform: translateY(0);
}
.dark .gallery {
    background: #333;
}
.ski-gallery-wrap .slick-slide {
    margin: 0 3px;
    position: relative;
}
.ski-gallery-wrap .slick-slide:before {
    content: '';
    position: absolute;
    background: rgba(0,0,0,.4);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .5s;
}
.ski-gallery-wrap .slick-active:before {
    background: rgba(0,0,0,0);
}
.ski-gallery-wrap {
    position: relative;
}
/* ------------ ski sub pages 공통 bg ------------ */  
.ski_info_top {
    position: relative;
    height: 350px;
}
.ski_bg_wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.ski_info_bg {  
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0;
    background: url('../images/sub_top_bg.webp') no-repeat center center/cover;
    animation: zoomOut 2s forwards;
}
@keyframes zoomOut {
    0% { transform:scale(1.1); }
    100% { transform:scale(1); }
}
/*---------------------------ski tab-----------------------------*/
.tab_menu li {
    flex: 1;
    line-height: 50px;
    border: 1px solid #ddd;
}
.tab_menu li:not(:first-child) {
    margin-left: -1px;
    border-left-color: transparent;
}
.tab_menu li.active {
    background: #4d4d4d;
    border-color:#4d4d4d;
}
.tab_menu li.active a {
    color: #fff;
} 
.info_title_area {
    padding: 50px 0;
    text-align: left;
}
.info_title_area h2 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 20px;
}
.info_title_area p {
    line-height: 30px;
}
/*------------------이용안내------------------*/
.progress_wrap {
    display: flex;
    justify-content: space-between;
}
.progress_wrap > div {
    width: 216px;
    position: relative;
}
.progress_wrap > div:after {
    content: '';
    position: absolute;
    top: 50px;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-width: 2px;
    border-color: #42777a #42777a transparent transparent;
    border-style: solid;
    transform: rotate(45deg) translateY(-50%);
} 
.progress_wrap > div:last-child:after {
    display: none;
}
.progress_wrap > div h4 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}
.progress_wrap > div h4 span {
    display: block;
    color: #42777a;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    margin-bottom: 15px;
}
.progress_wrap > div span:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #42777a;
}
.progress_wrap > div > div {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0;
    justify-content: space-between;
    height: 160px;
}
.progress_wrap p {
    color: #666;
    line-height: 22px;
}
.progress_wrap > div img { 
    height: 100px;
    width: auto;
}
.progress_wrap .short-cut {
    color: #999;
    border-color: #999;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 30px;
    margin-top: 10px;
}
.progress_wrap .short-cut:hover {
    color: #fff;
    border-color: var(--turquoise-color);
}
/*------------------이용요금------------------*/
/*------------------슬로프안내------------------*/
#tabs-1 .slopemap_wrap {
    position: relative;
    max-width: 768px;
    margin: 30px auto;
} 
#tabs-1 .slopemap_wrap img {
    width: 100%;
}
#tabs-1 .slopemap_wrap .tab_contents,
#tabs-1 .slopemap_wrap .tab_contents > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#tabs-1 .filter_wrap {
    display: flex;
    justify-content: space-evenly;
}
#tabs-1 .filter_wrap > div {
    width: 400px;
}
#tabs-1 h3 {
    text-align: left;
}
#tabs-2 .video_wrap {
    max-width: 668px;
    margin: 0 auto;
}   
/*------------------렌탈안내------------------*/
/* ------ swiper ------ */
.swiper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}   
.swiperBig {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}
.swiperThumb {
    box-sizing: border-box;
    padding: 10px 0;
}
.swiperThumb .swiper-slide {
    width: 25%;
    opacity: 0.4;
}
.swiperThumb .swiper-slide-thumb-active {
  opacity: 1;
}
/*------------------스키학교------------------*/
#mentor {
    display: flex;
}
#mentor img {
    object-fit: cover;
    width: auto;
}
#mentor .table_desc {
    margin-top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#mentor .table_desc li {
    font-size: 18px;
}
.curriculum {
    text-align: left;
}
.curriculum .p_wrap {
    margin: 30px 0 30px;
}
.curriculum .p_wrap img {
    width: auto;
    display: block;
    margin: 0 auto;
} 
.curriculum .table_title {
    text-transform: uppercase;
    font-weight: bold;
}
.curriculum .progress {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0;
}
.curriculum .progress.jc_c {
    justify-content: center;
}
.curriculum .progress.jc_c dl {
    width: 40%;
}
.curriculum .progress dl {
    width: 28%;
    position: relative;
}
.curriculum .progress dt {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    font-size: 18px;
}
.curriculum .progress dt:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: var(--turquoise-color);
}
.curriculum .progress dd span {
    font-weight: bold;
}
.curriculum .table_desc {
    position: relative;
}
.curriculum .table_desc:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--turquoise-color);
}